@charset "UTF-8";

@font-face {
    font-family: 'berserk';
    src: url('../bee/berserker.ttf') format('opentype');
}

@font-face {
    font-family: 'berr';
    src: url('../bee/Berani.ttf') format('opentype');
}

@font-face {
    font-family: 'blod';
    src: url('../bee/bloodcrow.ttf') format('opentype');
}

* {

    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

:root {
    --fonte-bold: 'blod';
    --fonte-berr: 'berr';
    --fonte-berserk: 'berserk';
}

html, body {
    min-height: vh;
    font-family: var(--fonte-bold);
    font-size: large;
    font-weight: 100;
    background-color: black;
    color: white;
    padding: 1%;

    

}

/* Estilo para o iframe */
#m {
    opacity: 1;
}

h1 {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 0, 0, 0.56);
    border-radius: 25px;
    padding: 20px;
    font-variant: small-caps;
    background-image: url(Berserk-fundo-h1.png);
    background-color: rgba(0, 0, 0, 0.233);
    color: white;
    box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.63);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    font-size: 7vw;
}

h2 {
    font-weight: 100;
}

p {
    font-size: large;
    font-weight: 100;
    padding-top: 9vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-bold);
   
}

#video {
    width: auto;
    border: 2px solid rgba(255, 0, 0, 0.56);
    border-radius: 25px;
    padding: 4vh;
    background-image: url(Berserk-fundo-h1.png);
    background-color: rgba(0, 0, 0, 0.233);
    box-shadow: inset 5px 5px 10px 0px rgba(0, 0, 0, 0.63);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.23);
    color: white;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.63);
    background-size: cover;
    background-attachment: fixed;
}

section#img1 {
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('wallpaperflare.com_wallpaper.jpg');
}

@media (max-width: 420px) {
    section#img1 {
        background-image: url('Berserk-fundo-h1.png');
    }
}


section#img2 {
    background-image: url('../bee/Guts\ Berserk\ Rain\ GIF\ -\ Guts\ Berserk\ Guts\ Berserk\ -\ Discover\ &\ Share\ GIFs.gif');
    background-position: right center;
}

@media (max-width: 600px) {
    section#img2 {
        background-image: url('Berserk-fundo-h1.png');
    }
}

section#img3 {
    background-image: url('../<iframe width="560" height="315" src="https://www.youtube.com/embed/59lYXEWNKE4?si=sP5U0yibNNTVV5Qb&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>');
    background-position: center center;
}

strong {
    font-family: var(--fonte-berr);
    font-size: large;
    font-weight: 500;
    color: red;
    font-style: inherit;
}

#imagem-seguindo {
    position: absolute;
    width: 100px;
    height: 100px;
    pointer-events: none;
}

footer {
    background-color: rgb(165, 5, 5);
    color: white;
    text-align: center;
    padding: 10px;
}

/* Media Queries para responsividade */
@media (max-width: 450px) {
    body {
        padding: 5%;
    }

    h1 {
        font-size: 1.5em;
        padding: 10px;
        width: 90%;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 1em;
        padding: 5px;
    }

    #video {
        width: 90%;
        padding: 10px;
    }

    section.imagem > p {
        padding: 50px;
    }

    #imagem-seguindo {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.2em;
        padding: 5px;
        width: 95%;
    }

    h2 {
        font-size: 1em;
    }

    p {
        font-size: 0.9em;
        padding: 2px;
    }

    #video {
        width: 95%;
        padding: 5px;
    }

    section.imagem > p {
        padding: 20px;
    }

    #imagem-seguindo {
        width: 40px;
        height: 40px;
    }
}
